:root {
  font-family: system-ui, sans-serif;
  color: #302b25;
  background: #f6f3ed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
